/* You can add global styles to this file, and also import other style files */
body {
    margin-top: 20px;
    background: #f3f3f3;
}


/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn {
    border-radius: 12px;
    border: none;

    padding: 10px 15px;
}

.btn-primary {
    background-image: linear-gradient(
        5deg,
        hsl(240deg 100% 64%) 1%,
        hsl(236deg 100% 63%) 15%,
        hsl(231deg 100% 63%) 23%,
        hsl(226deg 99% 62%) 30%,
        hsl(221deg 99% 62%) 37%,
        hsl(217deg 99% 61%) 46%,
        hsl(212deg 99% 61%) 55%,
        hsl(208deg 98% 60%) 69%,
        hsl(203deg 98% 60%) 100%
    );

    border: none;
}

.btn-primary:hover {
    background-image: linear-gradient(
        270deg,
        hsl(238deg 85% 63%) 0%,
        hsl(238deg 85% 63%) 5%,
        hsl(238deg 85% 63%) 10%,
        hsl(238deg 85% 63%) 15%,
        hsl(238deg 85% 63%) 20%,
        hsl(238deg 85% 63%) 25%,
        hsl(238deg 85% 63%) 30%,
        hsl(238deg 85% 63%) 35%,
        hsl(238deg 85% 63%) 40%,
        hsl(238deg 85% 63%) 45%,
        hsl(238deg 85% 63%) 50%,
        hsl(238deg 85% 63%) 55%,
        hsl(238deg 85% 63%) 60%,
        hsl(238deg 85% 63%) 65%,
        hsl(238deg 85% 63%) 70%,
        hsl(238deg 85% 63%) 75%,
        hsl(238deg 85% 63%) 80%,
        hsl(238deg 85% 63%) 85%,
        hsl(238deg 85% 63%) 90%,
        hsl(238deg 85% 63%) 95%,
        hsl(238deg 85% 63%) 100%
    );
    border: none;
}

.btn-secondary {
}

.btn-danger {
    color: red;
    font-weight: 20px;

    background-color: transparent;
    border: 1px solid red;
}

.btn-danger:hover {
    color: white;
    background-image: linear-gradient(
        5deg,
        hsl(0deg 92% 55%) 1%,
        hsl(356deg 92% 54%) 15%,
        hsl(353deg 92% 53%) 23%,
        hsl(350deg 91% 52%) 30%,
        hsl(346deg 90% 51%) 37%,
        hsl(343deg 90% 50%) 46%,
        hsl(339deg 90% 49%) 55%,
        hsl(336deg 89% 49%) 69%,
        hsl(332deg 89% 48%) 100%
    );

    border: 1px solid red;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 30px 50px;
    width: 100%;
    /* border: 2px solid red; */

    & .actions__form {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
